body{
    min-width: 100%;
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    background-color: white;
}
header{
    background-color: #7283AA;
    color:white;
    display: block;
    
}
header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
  }
#logo{
  float:left;
}
#search_n_login{
  margin-top: 10px;
  float: right;
}
  hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   
  }

  .container{
    /*width: 80%;*/
    overflow: hidden;
    
}

  .column {
    float: left;
    
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  header #sign_up_button{
    float:right;
    height:50px;
    background-color:orange;
    border:0;
    margin:5px;
    padding-left: 20px;
    padding-right:20px;
    
    color:#ffffff;
  }
  header #log_in_button{
    float:right;
    height:50px;
    background-color:green;
    border:0;
    margin:5px;
    padding-left: 20px;
    padding-right:20px;
    
    color:#ffffff;
  }
 
  input[type=text] {
    padding: 12px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .vertical-menu a {
    /*background-color: #7283AA; /* Grey background color */
    background-color: white;
    color: #7283AA; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    
    text-decoration: none; /* Remove underline from links */
}
footer{
    background-color: #7283AA;
    color:white;

}